		<section id="featured">
			<!-- start slider -->
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<!-- Slider -->
						<div id="main-slider" class="flexslider">
							<ul class="slides">
								<li>
									<div class="test">
									<img src="img/slides/1.jpg" alt="" />
									</div>
									<div class="flex-caption">
										<h3>힙합정보 플랫폼</h3>
										<p>멋쟁이사자처럼X힙합</p>
										<p># 숨통 좀 트자 색히들아 Ay</p>
									</div>
								</li>
								<li>
									
									<img src="img/slides/2.jpg" alt="" />
									<div class="flex-caption">
										<h3>Hiphop Community</h3>
										<p>LIKELION X HIPHOP</p>
										<p># 숨통 좀 트자 색히들아 Ay</p>
										<p># 멋쟁이사자처럼 강남대학교</p>
									</div>
								</li>
								<li>
									<img src="img/slides/3.jpg" alt="" />
									<div class="flex-caption">
										<h3>VARIABLE HIPHOP</h3>
										<p># FAST SERACH</p>
										<p># MANY INFORMATION</p>
										<p># HIPHOP COMMUNITY</p>
									</div>
								</li>
							</ul>
						</div>
						<!-- end slider -->
		</section>
		<section class="callaction">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="big-cta">
							<div class="cta-text">
								<img src=img/x1.png>
								<p>멋쟁이사자처럼X힙합 힙합커뮤니티</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		
		<section id="content">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="row">
							<div class="col-lg-3">
								<div class="box">
						
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- divider -->
				<div class="row">
					<div class="col-lg-12">
						<div class="solidline">
						</div>
					</div>
				</div>
				<!-- end divider -->
				
				<div class="container">
					
					<!--Pulling Awesome Font -->
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">


				<div class="col-sm-6">
            <div id="tb-testimonial" class="testimonial testimonial-success">
                <div class="testimonial-section">
                	
                	<% if user_signed_in? %>
						<p><%= current_user.name %>님 환영합니다.</p>
						<p><strong>멋쟁이사자처럼X힙합</strong>에 오신것을 환영합니다!</p>
						<p>다양한 힙합 동영상 제공, 힙합 커뮤니티를 제공합니다!</p><br>
						 <div class="testimonial-writer-name"><%= current_user.name %></div>
                    	<div class="testimonial-writer-designation"><%= current_user.email %></div>
                    	
                    </a href="#" class="testimonial-writer-company">멋쟁이사자처럼</a>
						<p><a href="/users/sign_out">로그아웃</a></p>
						<% else %>
						<p>로그인을 하지 않으시면, 저희 서비스를 이용하실 수 없습니다!</p>
						<p><strong>멋쟁이사자처럼X힙합</strong>에 오신것을 환영합니다!</p>
						<p>다양한 힙합 동영상 제공, 힙합 커뮤니티를 제공합니다!</p>
		<p>	<a href="/users/sign_in">로그인</a></p>
					<% end %>
				</div>
                </div>

                <div class="testimonial-desc">
				 <%= image_tag "img/works/z1.jpg" %>  
 					<div class="testimonial-writer">




                    </div>
                </div>
            </div>   
		</div>
		<br>
		<br>
		


					
					
				
				
				<!-- Portfolio Projects -->
				<div class="row">
					<div class="col-lg-12">
						<h4 class="heading">BEST HIPHOP PHOTO</h4>
						<div class="row">
							<section id="projects">
								<ul id="thumbs" class="portfolio">
									<!-- Item Project and Filter Name -->
									<li class="col-lg-3 design" data-id="id-0" data-type="web">
										<div class="item-thumbs">
											<!-- Fancybox - Gallery Enabled - Title - Full Image -->
											<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Freestyle rap" href="img/works/1.jpg">
						<span class="overlay-img"></span>
						<span class="overlay-img-thumb font-icon-plus"></span>
						</a>
											<!-- Thumb Image and Description -->
											<img src="img/works/1.jpg" alt="Freestyle is a style of improvisation with or without instrumental beats, in which lyrics are recited with no particular subject or structure. It is similar to other improvisational music, such as jazz.">
										</div>
									</li>
									<!-- End Item Project -->
									<!-- Item Project and Filter Name -->
									<li class="item-thumbs col-lg-3 design" data-id="id-1" data-type="icon">
										<!-- Fancybox - Gallery Enabled - Title - Full Image -->
										<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Swings (rapper)" href="img/works/2.jpg">
						<span class="overlay-img"></span>
						<span class="overlay-img-thumb font-icon-plus"></span>
						</a>
										<!-- Thumb Image and Description -->
										<img src="img/works/2.jpg" alt="Moon Ji-hoon (Korean:문지훈, born October 14, 1986), better known by the stage name Swings (Korean:스윙스), is a South Korean rapper. Formerly under the label Brand New Music, he is currently contracted under his own record label, Just Music Entertainment.">
									</li>
									<!-- End Item Project -->
									<!-- Item Project and Filter Name -->
									<li class="item-thumbs col-lg-3 photography" data-id="id-2" data-type="illustrator">
										<!-- Fancybox - Gallery Enabled - Title - Full Image -->
										<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Dok2" href="img/works/dok.jpg">
						<span class="overlay-img"></span>
						<span class="overlay-img-thumb font-icon-plus"></span>
						</a>
										<!-- Thumb Image and Description -->
										<img src="img/works/dok.jpg" alt="Lee Joon-Kyung (hangul: 이준경; born March 28, 1990) better known by his stage name Dok2 (hangul: 도끼, pronounced as Dokki), is a South Korean rapper, record producer and co-founder of the Illionaire Records.">
									</li>
									<!-- End Item Project -->
									<!-- Item Project and Filter Name -->
									<li class="item-thumbs col-lg-3 photography" data-id="id-2" data-type="illustrator">
										<!-- Fancybox - Gallery Enabled - Title - Full Image -->
										<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Zico (rapper)" href="img/works/4.jpg">
						<span class="overlay-img"></span>
						<span class="overlay-img-thumb font-icon-plus"></span>
						</a>
										<!-- Thumb Image and Description -->
										<img src="img/works/4.jpg" alt="Woo Ji-ho (Hangul: 우지호; born September 14, 1992), widely known by his stage name, Zico (hangul: 지코), is a South Korean rapper, record producer, singer-songwriter and leader of the boy group Block B, signed under the label KQ Entertainment.">
									</li>
									<!-- End Item Project -->
								</ul>
							</section>
						</div>
					</div>
				</div>

			</div>
		</section>