   <!-- Portfolio Projects -->
   
   <div class = "container">
            <div class="row">
               <div class="col-lg-12">
                  <h4 class="heading">☞ Best Developers</h4>
                  <div class="row">
                     <section id="projects">
                        <ul id="thumbs" class="portfolio">
                           <!-- Item Project and Filter Name -->
                           <li class="col-lg-3 design" data-id="id-0" data-type="web">
                              <div class="item-thumbs">
                                 <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                                 <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Kim Dong Won" href="img/works/dong.jpg">
                  </a>
                                 <!-- Thumb Image and Description -->
                                 <%= image_tag "img/works/dong.jpg" %>
                                 <p></p>
                                 <p>김동원</p>
                                 <p>26</p>
                                 <p>male</p>
                                 <p>92.03.12</p>
                                 <p>dongwon@likelion.org</p>
                                 <p>Insta : kidongwon</p>
                                 
                              </div>
                           </li>
                           <!-- End Item Project -->
                           <!-- Item Project and Filter Name -->
                           <li class="item-thumbs col-lg-3 design" data-id="id-1" data-type="icon">
                              <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                              <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Jeong Jea Hyun " href="img/works/jung2.jpg">
                  </a>
                              <!-- Thumb Image and Description -->
                              <%= image_tag "img/works/jung2.jpg" %>
                              		<p></p>
                                 <p>정제현</p>
                                 <p>26</p>
                                 <p>male</p>
                                 <p>93.01.20</p>
                                 <p>zeni9@likelion.org</p>
                                 <p>Insta : jjeong_jea</p>



                           </li>
                           <!-- End Item Project -->
                           <!-- Item Project and Filter Name -->
                           <li class="item-thumbs col-lg-3 photography" data-id="id-2" data-type="illustrator">
                              <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                              <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Lee Song Eun" href="img/works/song2.jpg">
                  </a>
                              <!-- Thumb Image and Description -->
                               <%= image_tag "img/works/song2.jpg" %>
                                 <p></p>
                                 <p>이송은</p>
                                 <p>21</p>
                                 <p>female</p>
                                 <p>97.03.115</p>
                                 <p>mae04031@likelion.org</p>
                                 <p>Insta : 1004_songeun</p>


                           </li>
                           <!-- End Item Project -->
                           <!-- Item Project and Filter Name -->
                           <li class="item-thumbs col-lg-3 photography" data-id="id-2" data-type="illustrator">
                              <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                              <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Kim Hyeon Woo" href="img/works/woo.jpg">
                  </a>
                              <!-- Thumb Image and Description -->
                              <%= image_tag "img/works/woo.jpg" %>
                             <p></p>
                                 <p>김현우</p>
                                 <p>20</p>
                                 <p>male</p>
                                 <p>98.06.07</p>
                                 <p>gentlemonster77@likelion.org</p>
                                 <p>facebook : h4ve</p>




                           </li>
                           <!-- End Item Project -->
                        </ul>
                     </section>
                  </div>
               </div>
            </div>
         </div>