<div class="container">
  <h1>그대의 검색 목록</h1>

  <table class="table">
    <thead>
      <tr>
        <th>제목</th>
        <th>작성자</th>
        <th>작성시간</th>
      </tr>
    </thead>
  
    <tbody>
      <% @postss =@posts.reverse %>
      <% @postss.each do |post| %>
        <tr>
          <td><%= link_to post.title , post %></td>
          <td><%= post.user.name %></td>
          <td><%= post.created_at.in_time_zone("Asia/Seoul").strftime("%Y년%m월%d일 %H시%M분") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
  <br>
  <p><a href="/">홈페이지로</a></p>

</div>